<!-- _includes/image.html -->
<div class="image-wrapper" style="{% if include.width %}max-width: {{ include.width }};{% elsif include.float == "true"  %} max-width: 50%;{% endif %}{% if include.align %}{% if include.align == "center" %} margin: 0 auto;{% else %} float: {{ include.align }}; margin-{% if include.align == "left" %}right{% else %}left{% endif %}: 20px;{% endif %}{% endif %}" >
  {% if include.align and include.align == "center" %}<div style="display: table-cell;">{% endif %}
  {% if include.url %}
  <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
  {% endif %}
    <img src="/{{ include.img }}" alt="{{ include.title }}" style="{% if include.border %}border-width: {{ include.border }}; border-style: solid; border-radius: 15px;{% endif %}" />
  {% if include.url %}
  </a>
  {% endif %}
  {% if include.caption %}
    <p class="image-caption">{{ include.caption }}</p>
  {% endif %}
  {% if include.align and include.align == "center" %}</div>{% endif %}
</div>
{% if include.float == blank or include.float != "true" %}
<div class="clear"></div>
{% endif %}

