// Post listing
.post-listing {
  background-color: $white;
  position: absolute;
  top: 418px;
  z-index: 233;
  width: 100%;
  padding: 20px 20px 0;
  -webkit-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
  @include media-query($small-screen) {
    padding: 50px 30px 0;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    overflow-y: scroll;
    position: initial;
    top: 0;
  }
}

.image-credit {
  float: right;
  font-weight: bold;
  font-style: italic;
  color: $info;
  font-size: 13px;
  padding-right: 20px;
}

// Post Section
section.post {
	margin-bottom: 80px;
}

// Back home button

.back-home a {
  font-size: 13px;
  font-weight: bold;
  color: $secondary;
  border: 1px solid lighten($text-color, 45%);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}

// Post title
.post-title {
  font-family: $font-family-sc;
  word-spacing: 0.2em;
}

.post-title-link {
  color: $primary;
  font-size: 14px;
  margin-left: 10px;
  &:hover,
  &:focus {
    color: red;
  }
}

// Post meta
.post-meta {
  font-size: 13px;
  font-weight: bold;
	.post-date {
		font-family: $font-family-sc;
		color: $secondary;
	}
	.post-author {
		text-transform: uppercase;
		color: $warning;
	}
  .post-cat {
		font-family: $font-family-sc;
		color: $tertiary;
	}
  .read-time {
    color: $primary;
  }
}

// Read more buttons

a.read-more {
  padding: 5px 8px;
}

// Post content

#post {
  padding-bottom: 50px;
  .post-header {
    margin: 0 auto 50px;
  }
}

#post h1 {
  margin: 0.5em 0 1em;
}
#post h2 {
  margin: 2em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
#post h3 {
  margin: 1.75em 0 1.2em;
  position: relative;
}

#page {
  padding-bottom: 50px;
  min-height: 70vh;
  .page-header {
    margin: 0 auto 50px;
  }
}

//custom image
.image-wrapper {
  display: table;
  padding: 10px;

  .image-caption {
    text-align: center;
    color: $secondary;
    margin-top: 0.2em;
  }
}

.post-navigation {
  background-color: #f6f6f6;
  @include box-shadow;
}
.leonids-icon {
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
  color: $warning;
  font-size: 16px;
  line-height: 16px;
}
.post-nav-prev,
.post-nav-next {
  min-height: 10px;
  width: 100%;
}
.post-nav-next {
  text-align: right;
}
.post-nav-btn {
  width: 100%;
  padding: 20px 30px;
  .post-nav-text {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
  }
  .table-cell {
    vertical-align: middle;
  }
}
.post-image-feature {
  margin-bottom: 40px;
  .feature-image {
    width: 100%;
    max-height: 500px;
  }
}

.clear {
  clear: both;
}

// Shares Buttons
.share-buttons {
  padding-top: 1em;
  border-top: 1px solid #ddd;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  margin: 0.3em;
  span {
    margin: 0.3em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 0.5em;
      span {
        display: none;
        @include media-query($small-screen) {
          display: inline;
          margin: 0.5em;
        }
      }
    }
  }
}
.twitter {
  color: #77bcf1;
  &:hover {
    color: $primary;
  }
}
.facebook {
  color: #627aac;
  &:hover {
    color: $primary;
  }
}
.google-plus {
  color: #e36f60;
  &:hover {
    color: $primary;
  }
}
.hacker-news {
  color: #f60;
  &:hover {
    color: $primary;
  }
}
.reddit {
  color: #5f99cf;
  &:hover {
    color: $primary;
  }
}
